*{
    margin: 0;
    padding: 0;
}
.main_Nav{
    height: 40px;
    width: 100%;
    background-color: #2874f0;
    padding:0.5em 10em;
}
.header{
    display: flex;
    width: 80%;
    height: 100%;
}
.logo{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo .img-1
{
    height: 50%;
}

.logo .img-2
{
    height: 30%;
    font-size: 0.8rem;
    line-height: 1px;
    color: white;
    font-style: italic;
}
.search_input {
    width: 500px;
    height: 100%;
    background-color: red;
    border-radius: 2px;
}
.search_input input{
    width: 100%;
    height: 100%;
    outline: none;
    border:0;
    padding-left:1em;
    border-radius: 2px;
} 
.sub_menu{
    display: flex;
    margin-left: 2em;
}
.login{
    width: 120px;
    display: flex;
    align-items: center;
}
.more,.cart{
    width: 80px;
    display: flex;
    align-items: center;
}
.login,.more{
    margin-left: 1.6em;
    
}
.login button{
    height: 80%;
    width: 100%;
    background: white;
    border: 0;
    color: #2874f0;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 2px;
    cursor: pointer;
}
.more button,
.cart button{
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    
}

.more button,
.cart button{
    background: none;
    outline: none;
    border: none;
}